.anonymous__home {
  height: 100vh;
  &--row {
    height: 100%;

    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.95),
          rgba(255, 255, 255, 0.95)
        ),
        url("/public/logo-removebg-preview.png");
      &--content {
        &__system {
          font-size: 3.5rem;
          font-weight: 700;
        }
        &__subtitle {
          font-size: 3.5rem;
          font-weight: 700;
          margin-bottom: 40px;
          span {
            font-size: 3.8rem;

            font-weight: 700;
            color: #fa006b;
            margin-left: 10px;
          }
        }
        &__description {
          font-size: 1.2rem;
        }
        &__support {
          margin-top: 40px;
          display: flex;
          gap: 20px;
          button {
            border-radius: 30px;
            background-color: #fa006b;
            color: white;
            font-size: 1.1rem;
            padding: 0 12px;
            &.learn__more--btn {
              background-color: white;
              color: #fa006b;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: #fa006b !important;
                color: white !important;
              }
            }
            &:hover {
              background-color: white !important;
              color: #fa006b !important;
            }
          }
        }
      }
    }
    &__right {
      padding: 0 80px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: 180px;
      background-position-x: -80px;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.95),
          rgba(255, 255, 255, 0.7)
        ),
        url("/public/bg.png");
      &--title {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 700;
        margin: 20px 0;
      }
      button {
        border-radius: 30px;
        background-color: #fa006b;
        font-size: 1.1rem;
        padding: 0 24px;
        &:hover {
          background-color: #f376a8 !important;
        }
      }
    }
  }
}
